*{
    margin: 0;
    padding: 0;
}

.container{
    width: 80%;
    margin: auto;
}

header{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 15px;
}

main{
    /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#4a0d54+0,ac62e5+50,410263+100 */
    background: #4a0d54; /* Old browsers */
    background: -moz-linear-gradient(left,  #4a0d54 0%, #ac62e5 50%, #410263 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(left,  #4a0d54 0%,#ac62e5 50%,#410263 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to right,  #4a0d54 0%,#ac62e5 50%,#410263 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4a0d54', endColorstr='#410263',GradientType=1 ); /* IE6-9 */

    padding: 20px;
}

.information_jayne{
    display: flex;
    flex-direction: row;
    gap: 50px;
}

.jayne_photo{
    width: 300px;
    border: 5px solid gray;
    /* flex: 2; */
}

.description{
    /* flex: 3; */
    background-color: rgb(218, 218, 218);
    /* padding: 10px; */
}

.subtitle_white{
    /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#c4c4c4+0,565656+50,c4c4c4+100 */
    background: #c4c4c4; /* Old browsers */
    background: -moz-linear-gradient(top,  #c4c4c4 0%, #565656 50%, #c4c4c4 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top,  #c4c4c4 0%,#565656 50%,#c4c4c4 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom,  #c4c4c4 0%,#565656 50%,#c4c4c4 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#c4c4c4', endColorstr='#c4c4c4',GradientType=0 ); /* IE6-9 */

    color: white;
    padding: 15px;
}

.description_text, .description_link{
    margin: 15px 15px 0 15px;
}

.project_container {
    display: flex;
    justify-content: space-between;
    margin-top: 20px
}

.project {
    width: 290px;
    height: 630px;
    background: gray;
}

.project > img {
    width: 100%;
}

.project_description { /*.project > p*/
    height: 185px;
}

.technologies {
    height: 230px;
    width: 290px;
    /* background: black; */
    text-align: center;
}

.logos {
    padding: 10px 15px;
}

.logos > img {
    width: 40px;
} 

.project button {
    background-color: green;
    color: white;
    padding: 2px 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    box-shadow: 28px 32px 25px -13px rgba(0,0,0,1);
    -webkit-box-shadow: 28px 32px 25px -13px rgba(0,0,0,1);
    -moz-box-shadow: 28px 32px 25px -13px rgba(0,0,0,1);
} 

.subtitle_white, .logos {
    text-align: left;
}

footer {
    background-color: white;
    height: 75px;
    text-align: center;
}

footer img {
    width: 20px;
}

footer p {
    margin-top: 10px;
    /*margin-bottom: 10px*/
}